/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #e8e6e6 !default;
$text-color: #5e6d55 !default;
$muted-text-color: #c887ed !default;
$primary-color: #c8c7c7 !default;
$border-color: mix(#fff, #c887ed, 75%) !default;
$footer-background-color: #32213b !default;
$link-color: #c8c7c7 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
